<!-- templates/home.html -->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<!-- If client is logged in. Show their unique homepage-->
{% if user.is_authenticated %}
Homepage for {{ user.username }}
<p><a href="{% url 'logout' %}">Log Out</a></p>
<!-- If client is not logged in. Home will show a log in or register page-->
{% else %}
<p>You are not logged in</p>
<a href="{% url 'login' %}">Login</a>
<a href="{% url 'register' %}"> Register</a>
{% endif %}
{% endblock %}