.header-container {
    padding-top: 0;
    margin: 0 0 20px 0;
    width: 100vw;
    height: 85px;
    position: sticky;
    display: flex;
    justify-content: flex-start;
    top: 0;
    left: 0;
    box-sizing: border-box;
    box-shadow: 3px 5px 8px 1px rgba(0, 0, 0, 0.25);
    background-color: #b0d7ff;
    overflow: visible;
    border: 8px solid #003263;
}

.logo-container {
    display: flex;
    width: 200px;
    height: 65px;
    margin: 2px;
    background-color: #003263;
    border-radius: 10px;
    text-decoration: none;
}

img.crest {
    display: block;
    width:58px;
    height: 77px;
    margin: 2px 0 0 3px;
}

.logo-container-text{
    font-weight: 400;
    font-style: normal;
    font-family: "EB Garamond", serif;
    color: #ffffff;
    padding: 13px 0 0 0;
}

#front_header{
    margin: 0;
    margin-top: -8px;
    padding: 0;
    font-weight: 200;
}

h4#front_header{
    font-size: 1em;
}

h1#front_header{
    font-size: 2.65em;
}

.header-control-panel {
    display: flex;
    max-width: 700px;
    width: fit-content;
    gap: 30px;
    justify-content: space-between;
    margin: 2px 25px 2px auto;
}

.control-panel-display {
    max-width: 350px;
    width: fit-content;
    height: 65px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #bcbdc0;
    border-radius: 8px;
}

.control-panel-display h4 {
    color: white;
    width: 90%;
    font-size: 1.45em;
    font-weight: 900;
    text-align: center;
    font-style: normal;
    margin: 0 40px;
    font-family: "EB Garamond", serif;
}

.control-panel-navigation{
    width: 300px;
    height: 65px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #bcbdc0;
    overflow: visible;
    border-radius: 8px;
}

.navigation-nav-opts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1px 8px;
    box-shadow: 1px 3px 4px 1px rgba(0, 0, 0, 0.12);
    border-radius: 20px;
    border: 2px solid #222;
    background-color: rgb(0, 50, 99);
}

img.icon {
    display: block;
    width:40px;
    height:40px;
    margin: 2px 0 0 15px;
    background-color: white;
}

img.icon#cog {
    border-radius: 30px;
}

img.icon#door {
    border-radius: 8px;
}

.control-panel-navigation h3 {
    color: white;
    width: 70%;
    font-size: 1em;
    font-weight: 400;
    font-style: normal;
    font-family: "EB Garamond", serif;
}

.underheader-header {
    width: 90%;
    text-align: center;
    margin: 0 auto 10px auto;
}

h1#underheader-text {
    font-weight: 400;
    font-style: normal;
    font-family: "EB Garamond", serif;
    color: #000000;
    font-size: 50px;
    padding-bottom: 10px;
    text-align: center;
    margin-top: 0;
    border-bottom: rgba(112,120,137,0.3) 5px solid;
}

.small {
    display: none;
}

.large {
    visibility: visible;
}

@media(max-width: 1160px) {
    .large {
        display: none;
        visibility: hidden;
    }
    .small {
        visibility: visible;
        display: block;
    }

}

.footer-page{
    box-sizing: border-box;
    width: 100vw;
    height: 75px;
    position: absolute;
    bottom: 0;
    box-shadow: 3px 5px 8px 1px rgba(0, 0, 0, 0.25);
    background-color: #b0d7ff;
    overflow: visible;
    border-color: #003263;
    border-style: solid;
    border-top-width: 8px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
}

html, body {
    margin : 0;
    padding : 0;
}